# Projet BDD (Clément BUON, Tifanny NGUYEN)

## Exercice 1 — Création de la BDD

In [11]:
import sqlite3 as sql
import csv

In [10]:
#!/usr/bin/env python
# -*- coding:utf-8 -*

########## EXERCICE 1 ##########
## Création de la base de données

import sqlite3 as sql
import csv

BDD = sql.connect("BARS.db")
curseur = BDD.cursor()

# EMPLOYÉS
curseur.execute("CREATE TABLE Employes (matricule TEXT PRIMARY KEY, nomEmploye TEXT NOT NULL, prenomEmploye TEXT NOT NULL, profession TEXT NOT NULL, bar TEXT NOT NULL);")

# ÉTABLISSEMENTS
# ajout d'une clé primaire avec la propriété autoincrement
curseur.execute("CREATE TABLE Etablissements (idEtablissement INTEGER PRIMARY KEY AUTOINCREMENT, nomEtablissement TEXT NOT NULL, adresse TEXT NOT NULL, numTelephone TEXT NOT NULL, idManager TEXT NOT NULL, FOREIGN KEY (idManager) REFERENCES Employes(matricule));")

# CARTE
curseur.execute("CREATE TABLE Carte (idBoisson INTEGER PRIMARY KEY, nomBoisson TEXT NOT NULL, type TEXT NOT NULL, prix REAL NOT NULL, degre REAL, quantite REAL NOT NULL);")

# VENTES
# ajout d'une clé primaire avec la propriété autoincrement
curseur.execute("CREATE TABLE Ventes (idVente INTEGER PRIMARY KEY AUTOINCREMENT, idEmploye TEXT NOT NULL, idBoisson INTEGER NOT NULL, date TEXT NOT NULL, FOREIGN KEY (idEmploye) REFERENCES Employes(matricule), FOREIGN KEY (idBoisson) REFERENCES Carte(idBoisson));")

# Remplissage avec les données CSV
# On écrit les informations dans une liste de dictionnaires
# chaque dictionnaire : 'attribut' : valeur de l'attribut
PATH = "data/"
with open(PATH+"employes.csv", "rt") as fichierEmployes:
    CSVEmploye = csv.DictReader(fichierEmployes, delimiter="\t")
    for ligne in CSVEmploye:
        curseur.execute("INSERT INTO Employes (matricule, nomEmploye, prenomEmploye, profession, bar) VALUES (:Matricule, :Nom, :Prenom, :Profession, :Nom_Bar)", ligne)

with open(PATH+"etablissements.csv", "rt") as fichierEtablissement:
    CSVEtablissement = csv.DictReader(fichierEtablissement, delimiter="\t")
    for ligne in CSVEtablissement:
        curseur.execute("INSERT INTO Etablissements (nomEtablissement, adresse, numTelephone, idManager) VALUES (:Name, :Adresse, :NumTel, :Manager_Id)", ligne)

with open(PATH+"carte.csv", "rt") as fichierCarte:
    CSVCarte = csv.DictReader(fichierCarte, delimiter="\t")
    for ligne in CSVCarte:
        curseur.execute("INSERT INTO Carte (idBoisson, nomBoisson, type, prix, degre, quantite) VALUES (:Id_Boisson, :Nom, :Type, :Prix, :Degre, :Quantite)", ligne)
        
with open(PATH+"ventes.csv", "rt") as fichierVente:
    CSVVente = csv.DictReader(fichierVente, delimiter="\t")
    for ligne in CSVVente:
        curseur.execute("INSERT INTO Ventes (idEmploye, idBoisson, date) VALUES (:Employe_Id, :Boisson_Id, :Date)", ligne)

BDD.commit()
BDD.close()

## Affichage de la BDD :

In [13]:
BDD = sql.connect("BARS.db")
curseur = BDD.cursor()

curseur.execute("SELECT * FROM Etablissements")
result = curseur.fetchall()
for idNum, name, adress, phone, managerId in result:
    print(f"{name} : id {idNum}, adresse : {adress}, tel : {phone}, idManager : {managerId}")
#print(result)

BDD.close()

Le Saphir : id 1, adresse : Boulevard de Poyat, tel : 0820510551, idManager : T80612
L'Envers Bodega : id 2, adresse : Impasse des Hauts de la Verchère, tel : 0058166035, idManager : R25976
By Coss Bar : id 3, adresse : Rue Winston Churchill, tel : 0153213335, idManager : R81326
Nu-Bahia : id 4, adresse : Route de Bévy, tel : 0696419033, idManager : Q66872
Antirouille : id 5, adresse : Chemin de la Chavanne, tel : 0051347411, idManager : Q09012
Comptoir de l'Arc : id 6, adresse : La Buissonnière, tel : 0557856998, idManager : O42298
Comptoir Saint-Paul : id 7, adresse : Chemin du Bois de Lys, tel : 0153779529, idManager : A08113
La Barbote : id 8, adresse : Rue du 7 Septembre 1639, tel : 0005872187, idManager : Q42796
Chez Félix : id 9, adresse : Route de Rochefort, tel : 0337450880, idManager : R66525
Le Sens Six : id 10, adresse : Route En Chemi-Nant, tel : 0475860670, idManager : W04397

## Exercice 3 — Ventes de chaque employé

In [72]:
BDD = sql.connect("BARS.db")
curseur = BDD.cursor()

# pour chaque employé, on va avoir besoin de :
# nom, prenom, matricule dans Employes
# nombre d'entrées dans Ventes
# prix dans Carte
# => jointure sur les 3 tables

# nombre total de ventes par employé = nombre de lignes dans Ventes contenant le matricule de l'employé

curseur.execute(f"SELECT DISTINCT nomEmploye, prenomEmploye, COUNT(matricule), SUM(prix) FROM Employes AS E, Ventes AS V, Carte AS C WHERE E.matricule = V.idEmploye AND V.idBoisson = C.idBoisson GROUP BY matricule")
for nom, prenom, vente, chiffre in curseur.fetchall():
    print(nom + " " +  prenom + " : " + str(vente) + " ventes pour un chiffre de " + str(round(chiffre, 2)) + "€.")

BDD.close()

Forshaw Avamarti : 456 ventes pour un chiffre de 2433.5€.
Dirkse Vakil : 536 ventes pour un chiffre de 2848.4€.
Baer Hermann : 475 ventes pour un chiffre de 2565.0€.
Baida Shelli : 482 ventes pour un chiffre de 2556.5€.
Ada Gezienus : 522 ventes pour un chiffre de 2798.3€.
Gietz William : 491 ventes pour un chiffre de 2578.7€.
Klinich Subfian : 488 ventes pour un chiffre de 2568.8€.
Fripp Adam : 455 ventes pour un chiffre de 2429.8€.
Ferge Demajae : 518 ventes pour un chiffre de 2761.6€.
Calame Alim : 541 ventes pour un chiffre de 2886.9€.
Ernst Bruce : 490 ventes pour un chiffre de 2597.8€.
Rouw Burleen : 517 ventes pour un chiffre de 2758.6€.
Cattell Parkash : 536 ventes pour un chiffre de 2839.3€.
Madonia Hallah : 508 ventes pour un chiffre de 2666.5€.
Neidenbach Davidlee : 509 ventes pour un chiffre de 2712.2€.
Dimaio Brookens : 474 ventes pour un chiffre de 2513.6€.
Menor Paesley : 530 ventes pour un chiffre de 2811.7€.
De Haan Lex : 487 ventes pour un chiffre de 2598.6€.
Raphaely Den : 508 ventes pour un chiffre de 2697.3€.
Jokela Leroyal : 460 ventes pour un chiffre de 2436.6€.
Slagle Almeter : 491 ventes pour un chiffre de 2625.1€.
Vanhorne Joean : 517 ventes pour un chiffre de 2720.1€.
Trimboli Areeza : 547 ventes pour un chiffre de 2875.6€.
Mavris Susan : 529 ventes pour un chiffre de 2850.9€.
Higgins Shelley : 510 ventes pour un chiffre de 2761.5€.
Severn Teyonna : 490 ventes pour un chiffre de 2623.5€.
Rambhajan Kaiyan : 459 ventes pour un chiffre de 2410.8€.
Seanger Stephian : 549 ventes pour un chiffre de 2894.4€.
Mourgos Kevin : 506 ventes pour un chiffre de 2623.8€.
Lorentz Diana : 491 ventes pour un chiffre de 2581.0€.
Sykora Mariaines : 481 ventes pour un chiffre de 2542.4€.
Macedonio Trayanka : 487 ventes pour un chiffre de 2584.2€.
Greenberg Nancy : 533 ventes pour un chiffre de 2796.2€.
Braverman Freek : 488 ventes pour un chiffre de 2589.2€.
Gollier Budimir : 466 ventes pour un chiffre de 2513.6€.
Buenger Carrigan : 488 ventes pour un chiffre de 2577.2€.
Vazzana Cherelle : 537 ventes pour un chiffre de 2869.8€.
Wariner Volodimir : 492 ventes pour un chiffre de 2611.8€.
Fay Pat : 530 ventes pour un chiffre de 2776.9€.
Gee Ki : 484 ventes pour un chiffre de 2547.8€.
Yoshi Mohinder : 485 ventes pour un chiffre de 2570.6€.
Hunold Alexander : 513 ventes pour un chiffre de 2755.4€.
King Steven : 501 ventes pour un chiffre de 2686.1€.
Mikkilineni Irene : 504 ventes pour un chiffre de 2667.1€.
Seo John : 500 ventes pour un chiffre de 2640.2€.
Patel Joshua : 501 ventes pour un chiffre de 2630.7€.
Olson TJ : 481 ventes pour un chiffre de 2563.0€.
Hewell Dharmraj : 494 ventes pour un chiffre de 2600.7€.
Landry James : 498 ventes pour un chiffre de 2666.6€.
Hartstein Michael : 497 ventes pour un chiffre de 2620.6€.
Yashpal Polite : 488 ventes pour un chiffre de 2631.6€.
Whalen Jennifer : 501 ventes pour un chiffre de 2620.9€.
Sciarra Ismael : 525 ventes pour un chiffre de 2765.6€.
Marolf Alisandra : 503 ventes pour un chiffre de 2692.2€.
Lemmo Bertan : 501 ventes pour un chiffre de 2635.6€.
Weiss Matthew : 516 ventes pour un chiffre de 2754.3€.
Sehr Sumeet : 515 ventes pour un chiffre de 2769.4€.
Feller Rackl : 543 ventes pour un chiffre de 2944.0€.
Tobias Sigal : 491 ventes pour un chiffre de 2576.5€.
Hossfeld Mansura : 488 ventes pour un chiffre de 2558.1€.
Gullette Itzy : 498 ventes pour un chiffre de 2645.3€.
Ladwig Renske : 512 ventes pour un chiffre de 2769.8€.
Braswell Amiri : 506 ventes pour un chiffre de 2698.7€.
Austin David : 535 ventes pour un chiffre de 2831.8€.
Laughinghouse Meropi : 475 ventes pour un chiffre de 2516.5€.
Himuro Guy : 501 ventes pour un chiffre de 2665.7€.
Avantika Amiyra : 512 ventes pour un chiffre de 2740.4€.
Pfahlert Paradice : 461 ventes pour un chiffre de 2472.7€.
Mallin Jason : 541 ventes pour un chiffre de 2899.8€.
Benik Rowynn : 529 ventes pour un chiffre de 2816.4€.
Nayer Julia : 508 ventes pour un chiffre de 2685.9€.
Aportela Babafolasekemi : 510 ventes pour un chiffre de 2702.7€.
Trentman Simmonds : 512 ventes pour un chiffre de 2716.0€.
Popp Luis : 497 ventes pour un chiffre de 2669.2€.

## Exercice 5 — Ventes par salarié avec droits utilisateurs

In [88]:
BDD = sql.connect("BARS.db")
curseur = BDD.cursor()

# Authentification du manager

# on récupère les ID Manager
infosManager = dict()
curseur.execute("SELECT idManager, nomEtablissement FROM Etablissements")
for matricule, nom in curseur.fetchall():
    infosManager[matricule] = nom
    
idOk = False
idEmploye = input("Entrez votre ID Manager : ")
if idEmploye not in infosManager.keys():
    print("Vous n'avez pas accès aux informations sur les ventes.")
else:
    # on récupère l'établissement dont l'utilisateur est le manager
    etablissement = infosManager[idEmploye]
    
    print(f"Authentification réussie. Information sur les ventes du bar \"{etablissement}\" :\n")
    # Authentification réussie, on passe à la recherche
    # pour tester : T80612
    
    curseur.execute(f"SELECT DISTINCT nomEmploye, prenomEmploye, COUNT(matricule), SUM(prix) FROM Employes AS E, Ventes AS V, Carte AS C WHERE E.matricule = V.idEmploye AND V.idBoisson = C.idBoisson AND E.bar = ? GROUP BY matricule", (etablissement,))
    for nom, prenom, vente, chiffre in curseur.fetchall():
        print(nom + " " +  prenom + " : " + str(vente) + " ventes pour un chiffre de " + str(round(chiffre, 2)) + "€.")

BDD.close()

Entrez votre ID Manager :  T80612

Authentification réussie. Information sur les ventes du bar "Le Saphir" :

Baida Shelli : 482 ventes pour un chiffre de 2556.5€.
Dimaio Brookens : 474 ventes pour un chiffre de 2513.6€.
Higgins Shelley : 510 ventes pour un chiffre de 2761.5€.
Gollier Budimir : 466 ventes pour un chiffre de 2513.6€.
Fay Pat : 530 ventes pour un chiffre de 2776.9€.
Hartstein Michael : 497 ventes pour un chiffre de 2620.6€.
Whalen Jennifer : 501 ventes pour un chiffre de 2620.9€.
Sehr Sumeet : 515 ventes pour un chiffre de 2769.4€.
Himuro Guy : 501 ventes pour un chiffre de 2665.7€.
Mallin Jason : 541 ventes pour un chiffre de 2899.8€.

## Exercice 7

In [10]:
# on reprend l'exercice 6
########## EXERCICE 6 #########

import sqlite3 as sql
import csv

BDD = sql.connect("BARS.db")
curseur = BDD.cursor()

# Identification du Manager
infosManager = dict()
curseur.execute("SELECT idManager, nomEtablissement FROM Etablissements")
for matricule, nom in curseur.fetchall():
    infosManager[matricule] = nom
    
# On demande à l'utilisateur d'entrer son id.
idOk = False
idEmploye = input("Entrez votre ID Manager : ")

# Si son id ne correspond pas à un idManager, le programme s'arrête.
if idEmploye not in infosManager.keys():
    print("Vous n'avez pas accès aux informations sur les ventes.")
else:
    # Sinon non récupère l'établissement dont l'utilisateur est le manager
    etablissement = infosManager[idEmploye]
        
    # on demande la saisie de la date
    date = input("Entrez une date : ")
    # on convertir au format de la BDD : JJ/MM/A
    (jour, mois, annee) = date.split()
    # on convertir le mois en nombre
    tableMois = {
        "janvier": "01",
        "février": "02", 
        "mars": "03",
        "avril": "04",
        "mai": "05",
        "juin": "06",
        "juillet": "07",
        "août": "08",
        "septembre": "09",
        "octobre": "10",
        "novembre": "11",
        "décembre": "12"
    }
    date = "/".join([jour, tableMois[mois], annee])
    
    curseur.execute("SELECT COUNT(idVente), SUM(prix), bar FROM Ventes AS V, Carte AS C, Employes AS E WHERE E.matricule = V.idEmploye AND V.idBoisson = C.idBoisson AND E.bar = ? AND V.date = ?", (etablissement, date))
    resultventes = curseur.fetchall()
    for (ventes, montant, bar) in resultventes:
        print(f"Le bar {bar} a fait {ventes} ventes pour un chiffre de {round(montant, 2)}€.")
    print("Résultat par employé·e : ")
    
    curseur.execute("SELECT prenomEmploye, nomEmploye, SUM(prix) FROM Ventes AS V, Carte AS C, Employes AS E WHERE V.idBoisson = C.idBoisson AND E.matricule = V.idEmploye AND E.bar = ? AND V.date = ? GROUP BY idEmploye", (etablissement, date))
    resultbenef = curseur.fetchall()
    for (prenom, nom, montant) in resultbenef:
        print(f"{prenom} {nom} a généré un chiffre de {round(montant, 2)}€.")

BDD.close()

Entrez votre ID Manager :  Q66872
Entrez une date :  18 novembre 2022

Le bar Nu-Bahia a fait 103 ventes pour un chiffre de 577.4€.
Résultat par employé·e :
Burleen Rouw a généré un chiffre de 105.0€.
Paesley Menor a généré un chiffre de 124.9€.
Freek Braverman a généré un chiffre de 97.5€.
Alexander Hunold a généré un chiffre de 81.5€.
Renske Ladwig a généré un chiffre de 78.5€.
Babafolasekemi Aportela a généré un chiffre de 90.0€.